<div class="flex flex-wrap mx-auto space-y-1 md:space-y-0 pt-5">
  <div class="md:w-1/2 w-full lg:pr-3 pb-2 md:pb-0">
    <div class="flex flex-auto items-center">
      <span class="text-blue-800 font-light">Name:</span>
      <span class="indent-1">Mr.David Pardo</span>
    </div>
  </div>
  <div class="md:w-1/2 w-full lg:pr-3 pb-2 md:pb-0">
    <div class="flex flex-auto items-center">
      <span class="text-blue-800 font-light">Email:</span>
      <span class="indent-1">dajupaco@gmail.com</span>
    </div>
  </div>
  <div class="flex pt-5 w-full justify-start">
    <div class="badge badge-outline">VIP customer</div>
  </div>
</div>
